td img {
    width: 50px;
    aspect-ratio: 1;
    object-fit: cover;
}

.fa-0{
    font-size: 8px;
    vertical-align: middle;
}

.pointer{
    cursor: pointer;

    &:hover{
        background-color: aliceblue;
    }
}