td img {
    width: 50px;
    aspect-ratio: 1;
    object-fit: contain;
}

.fa-0 {
    font-size: 8px;
    vertical-align: middle;
}

.pointer {
    cursor: pointer;

    &:hover {
        background-color: aliceblue;
    }
}

.alert {
    animation: fade 300ms ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


#alert {
    top: 80px;
}